# StackOverFlow: https://stackoverflow.com/a/25592735/2097171
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

.Rproj.user
.Rhistory
.RData
.Ruserdata
main
*.so
/Debug/
docs/
latex/

playground/

*/**/*.a
*/**/*.so
*/**/*.b
*/**/*.o
CMakeFiles
